@import "./Utils/variables";
@import "./Utils/mixins";

*{
  box-sizing: border-box;
}
html,
body{
  scroll-behavior: smooth;
  color: white;
}
.primary__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5%;
  
  .primary__header--logo, .primary__header--title{
    flex: 1 1 50%;
    width: 100%;
  }
  .primary__header--logo{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.6);

    h2{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .primary__header--title{
    text-align: center;
    background: #eaeaea;

    h2{
      font-size: $title-font-size;
      color: #676767;
    }
  }
}
.hero__banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $hero-banner-color;
  color: black;
  text-align: center;
  padding: 20px;

  h1{
    font-family: $secondary-font;
    font-size: 26px;
    font-weight: 800;
  }
  h2{
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 200;
  }
}
.link__calltoaction{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 40px;
  width: 80%;
  height: 58px;
  padding: 10px;
  background:  $cta-background;
  color: rgba(255, 255, 255, 0.929);
  font-size: 18px;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 50px;
}
/*For other format*/
@media only screen and (min-width: 768px){

}