@import "./utils/variables";
@import "./utils/mixins";
@import "./components/heroBanner";
@import "./components/restaurantCard";
@import "./components/loading";
@import "./components/navLink";
@import "./components/menu";
@import "./layout/footer";

*{
  box-sizing: border-box;
}
html,
body{
  scroll-behavior: smooth;
  color: white;
  overflow-x: hidden;
}
.primary__header{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .primary__header--logo, .primary__header--title{
    flex: 1 1 50%;
    width: 100%;
  }
  .primary__header--logo{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
    z-index: 0;
    height: 3.9rem;

    h2{
      height: 1.8rem;
      margin: 18px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .primary__header--title{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    background: #eaeaea;

    h2{
      font-size: 1.05rem;
      font-weight: 700;
      font-family: $secondary-font;
      color: black;
    }
  }
}
/*For other format*/
@media only screen and (min-width: 768px){

}