$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$hero-banner-color: #f6f6f6;

$main-font: 'Shrikhand', serif;
$secondary-font: 'Roboto', sans-serif;

$cta-background: linear-gradient(170deg, #ff79da, #9356dc);

$title-font-size: 20px;